* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside{
    padding-top: 4%;
    padding-right: 0;
    width: 100%;
}

.menu-item{
    display: block;
    width: 100%;
}

.menu-item img{
    /* display: inline; */
    position: relative;
    top: 15%;
}

.menu-heading{
    color: gray;
    font-size: 120%;
    margin-left: 0;
    padding-left: 2.8%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: absolute;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-button__background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.menu-btn { /* menu button */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 2;
    margin-right: 93%;
    margin-top: -2%;
}

.menu-btn__burger {
    content:'';
    position: absolute;
    width: 1.8vw;
    height: 0.1vw;;
    background: #fff;
    transition: all .5s ease-in-out;
    z-index: 2;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 1.8vw;
    height: 0.1vw;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
  
.menu-btn__burger::before {
    transform: translateY(-6px);
}
  
.menu-btn__burger::after {
    transform: translateY(6px);
}

  /* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu-popup{
    height: 100%;
    width: 19.3%;
    float: left;
    padding-right: 5vh;
    background-color:rgb(71, 63, 63);
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 1;
}

.menu-list{
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    line-height: 2;
    margin-right: 12%;
    margin-top: 6%;
    z-index: 2;
    list-style-type: none;
    margin-left: 3%;
    padding-left: 0;
    width: 100%;
}

.menu-list li{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.menu-list li a{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}


.menu-list li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.menu-list li a, .menu-heading{
    font-size: 150%;
}

.menu-hr{
    width: 90%;
    margin-bottom: 3%;
}

.menu-icon{
    opacity: 0.8; 
    width: 22px; 
    height: auto;
    position: relative;
    bottom: -2.3px
}

@media screen and (max-width: 800px) {
    .menu-btn__burger {
        width: 20px;
    }
    
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        width: 20px;
    }

    .menu-btn { /* menu button */
        margin-top: -4%;
    }
}
